
<p>Restaurant: $restaurant.getName()</p>

<a href="/home/restaurants/$restaurant.getId()/customers">All Customers</a>
<a href="/home/restaurants/$restaurant.getId()/bookings">All Bookings</a>
<a href="/home/restaurants/$restaurant.getId()/bills">All Bills</a>
<a href="/home/restaurants/$restaurant.getId()/tables">All Tables</a>
<a href="/home/restaurants/$restaurant.getId()/items">All Items</a>

<div class="container">
    #parse( $yield )
</div>