
<p>Restaurant: $restaurant.getName()</p>

<a href="/customers/$restaurant.getId()">All Customers</a>
<a href="/bookings/$restaurant.getId()">All Bookings</a>
<a href="/bills/$restaurant.getId()">All Bills</a>
<a href="/tables/restaurant/$restaurant.getId()">All Tables</a>
<a href="/items/$restaurant.getId()">All Items</a>