<!DOCTYPE html>
<html>
<head>
    <title>Booking System App</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<nav id="menu">
    <ul>
        <li class="menu-item"><a href="/home" class="button center">HOME</a></li>
        <li class="menu-item"><a href="/restaurants" class="button center">MANAGE RESTAURANTS</a></li>
    </ul>
</nav>
<div class="container">
    #parse( $template )
</div>
</body>
</html>
