<p class="pageHeader">Restaurants</p>

<div>
    <a href="/restaurants/new" class="button center">New Restaurant</a>
</div>
<div class="container">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        #foreach($restaurant in $restaurants)
        <tr>
            <td>$restaurant.getName()</td>
            <td><a href="/restaurants/$restaurant.getId()" class="button center">Details</a></td>
        <tr>
            #end
    </table>
</div>