<p class="pageHeader">Tables</p>

<form action="/tables/restaurant" method="post">
    <label for="restaurant">Restaurant:</label>
    <select id="restaurant" name="restaurant_id">
        #foreach( $restaurant in $restaurants )
            <option value="$restaurant.getId()">
                $restaurant.getName()
            </option>
        #end
        <input type="submit" value="Select" class="button">
    </select>
</form>