#large_image {
  display: flex;
  background-image: url("/images/table-booking.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

h1 {
font-family: Tate regular,Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 25px;
color: black;
margin-left: 20px;
margin-top: 10px;
}

.gallery {
  background-color: white;
  align-items: flex-end;
  display:inline-grid;
  border: 1px solid black;
  margin-left: 80px;
  margin-bottom: 20px;
  font-family: Tate regular,Arial,"Helvetica Neue",Helvetica,sans-serif;
}


.button-details{
  background-color: white;
  color: black;
  border: 2px solid #ecd8c6;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
 }


body{
  background-repeat: no-repeat;
  background-image: white;
  margin: 0px;
  background-position: top;
  background-size: 1024px 768px;
  padding-top: 0;
  height: : 100%;
  font-family: Tate regular,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#menu {
  display: flex;
  margin: 0 auto;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
  font-size: 18px;
  color: white;
  font-family: Tate regular,Arial,"Helvetica Neue",Helvetica,sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ecd9c6;
}

.scroll_down_menu {
  font-family: Tate regular,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: left;
  background-color: rgba(0,0,0,0.6);
  padding: 14px 16px;
}

h3 {
font-family: Tate regular,Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 20px;
color: black;
margin-left: 80px;
margin-top: 50px;
margin-bottom: 30px;
font-weight: lighter;
}

#restaurants_image {
  display: flex;
  background-image: url("/images/restaurant.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.container-table {
  border: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 1em;
  background-color: rgba(0,0,0,0.6);
  font-family: Tate regular,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  width: fit-content;
  display: flex;
  justify-content: center;
}


.button{
    background-color: white;
    color: black;
    border: 2px solid #ecd8c6;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.button:hover {
    background-color: #ecd8c6;
  }

.button-new {
      background-color: white;
      color: black;
      border: 2px solid #ecd8c6;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      padding: 10px 20px;
      margin-left: 60px;
      margin-right: 60px;
}

#customers_image {
  display: flex;
  background-image: url("/images/customer.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#tables_image {
  display: flex;
  background-image: url("/images/table.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#bookings_image {
  display: flex;
  background-image: url("/images/booking.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color : white;
}

#container-booking{
background-color: rgba(0,0,0,0.6);
color: white;
margin-bottom: 20px;
}

#container-bookings-show {
background-color: rgba(0,0,0,0.6);
color: white;
margin-bottom: 20px;
}

#bookings_image_show {
  display: flex;
  background-image: url("/images/booking.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color : white;
}

.restaurant {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.pageHeader {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.flex-center {
  width: 100%;
  display: flex;
  margin: 1em;
  justify-content: center;
}

.toppadding {
padding-top: 2em;
}

td{
padding-bottom: 2em;
}

#item_image {
  display: flex;
  background-image: url("/images/items.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

th{
padding-bottom: 2em;
}

p{
padding:0.4em
}

.customer_action{
    margin-top: 2em;
    margin-right: 1em;
}

.action_button{
    display: flex;
    margin-left: 2%;
}

.item_drop_menu{
      margin-top: 1.5em;
}