<p class="pageHeader">Bills</p>

<div>
    <a href="/bills/new" class="button center">New Bill</a>
</div>
<div class="container">
    <table>
        <tr>
            <th>Booking</th>
        </tr>
        #foreach($table in $tables)

    </table>
</div>