<h1><p class="pageHeader">New Bill</p></h1>
<div id="restaurants_image">
<form action="/bills" method="post">
    <label for="itemName">Item Name:</label>
    <input class="inputbox" type="text" name="itemName" id = "itemName" required="true">

    <label for="price">Price:</label>
    <input class="inputbox" type="text" name="price" id = "price" required="true">

    <input type="submit" value="Save" class="button">
</form>

<a href="/bills" class="button center">Cancel</a>
</div>